/* Page Style */

body{
  font-family: Merriweather, serif;
  font-size:16px;
  width: 100%;
  height: 100%;
  color: black;
  background-color: #D9D0DE;
}

/* Media Query for Desktop */

@media only screen and (min-width: 480px){
.show{
  display: none;
}
}

/* Header content Style */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 24px;
  margin-right: 1rem;
  border-bottom: 1px solid #BC8DA0;
}

.hide{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 1.5rem;
}

.logo{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  line-height: 2rem;
}

.logo span:last-child{
  color: firebrick;
}

header .navigation{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1.5rem;
  border: 1px solid black;
}

.navigation a{
  decoration: none;
  margin: 0 0.5rem;
}

/* Main Content Style */

.content{
  position: relative;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1050px;
  margin: auto;
}

.banner{
  display: flex;
  padding: 2rem 0;
}

.text{
  margin:0 1.5rem;
}

h1{
  font-family: Merriweather, serif;
  font-size: 2rem;
  font-weight: bold;
}

h2{
  font-family: Merriweather, serif;
  font-size: 1.5rem;
  line-height: 1.2;
}

/* Learn Section Style */

#main{
  background-color: #BC8DA0;
}

.banner .left{
  margin: 2rem 1.5rem;
  width: 60%;
}

.image{
  overflow: hidden;
}

.image img{
  height: auto;
  width: 100%;
}

#main .learn{
  justify-content: center;
}

.banner .learn{
  display: flex;
  flex-direction: column;
  width: 40%;
}

#main h1{
  margin-bottom: 1.5rem;
}

#main p{
margin-bottom: 1.5rem;
}

#start-button{
    background-color: #963D5A;
    border-radius: 0.5rem;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50%;
}

#start-button:hover{
  background-color: #D9D0DE;
  border: none;
  border-radius: 0.5rem;
  color: black;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 50%;
}

/* Practicing Section Style */

.left{
  display: flex;
  flex-direction: column;
}

.text h1{
  font-family: Merriweather, serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.text p{

}
.text span{
font-weight: bold;
}

.banner .right{
  display: flex;
  flex-direction: column;
  width: 40%;
}

#info .info-container:first-child{
  margin-top: 1rem;
}

#inf .info-container:last-child{
  background-color: #BC8DA0
}

.info-container{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.info-container .image{
  width: 35%;
  margin: 1rem;
}

.image-container{
  overflow: hidden;
}

.info-container .right-text{
  justify-content: center;
  width: 65%;
}

.info-container .right-text{
  display: flex;
  flex-direction: column;
}

/* Start Learning Section Style */

#start-learning{
  background-color: #BC8DA0;
}

#start-learning h1{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0;
}

.courses{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 3.5rem 0 3.5rem;
}

.first-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.second-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.course{
  width: 100%;
  margin: 0 1rem 2rem 1rem;
  background-color: #D9D0DE
}

.courses img{
  height: auto;
  width: 100%;
  display: block;
}

.details{
  margin: 1rem 0 1.5rem 1rem;
}

#start-learning h2{
  font-size: 1.25rem;
  font-weight: bold;
}

#start-learning h3{
  font-size: 1rem;
  margin: 0.5rem 0;
}

#start-learning p{
  font-size: 1rem;
}

/* Thesis Section Style */

#thesis{
  display: flex;
  flex-direction: column;
}

#thesis .title{
  text-align: center;
  margin: 2rem 0;
}

#thesis .thesis-content{
  display: flex;
  flex-direction: row;
}

#thesis .left{
  display: flex;
  flex-direction: column;
  width 60%;
}

#thesis video{
width: 100%;
}

#thesis .info-container:first-child{
  background-color: #BC8DA0
}

#thesis h2{
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

/* Footer Style */

footer{
  display: flex;
  align-items: center;
  margin: 1rem 0 2rem 1.5rem;
  width: 100%;
  font-size: 0.8rem;
  border: 1px solid blue;
}

footer p{
  font-size: 0.8rem;
}

p{
  font-family: Merriweather, serif;
  opacity: 0.5;
  line-height: 1.4;
}

nav{
  margin-right: 1.5rem;
  border: 1px solid yellow;
}

ul{
  display: inline-flex;
}

li{
  padding-left: 1rem;
}

a{
  text-decoration: none;
  font-family: Merriweather, serif;
  color: black;
  opacity: 0.5;
}

/* Media Query for Mobile */

@media only screen and (max-width: 580px){
.show{
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  height: 4rem;
  width: 100%;
}
.hide{
  display: none;
}
.show a{
  height: 2rem;
  width: auto;
  margin: 1.5rem;
  opacity: 1;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 580px;
}
#main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1rem;
}
#main .left{
  width: 100%;
  height: 100%;
}
#main img{
}
#main .learn{
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 100%;
}
#main h1{
  text-align: center;
  margin: 2rem 1rem;
}
#main p{
  margin-left: 1rem;
}
#start-button{
  width: 100%;
  margin: 1.5rem 1rem 2rem 1rem;
}
#start-button:hover{
  width:100%;
  margin: 1.5rem 1rem 2rem 1rem;
}
#info .left{
  display: none;
}
#info .right{
  width: 100%;
}
.right .info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem 1rem 2rem 1rem;
}
.right .info-container .image{
  width: 100%;
}
.courses .first-row,
.courses .second-row{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.course{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.course img,
.course h3,
.course p{
  display: none;
}
#thesis .banner{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#thesis .right{
  display: none;
}
footer .mobile-hide{
  display: none;
}
}
