/* Page Style */

body{
  font-family: helvetica;
  font-size:16px;
  width: 100%;
  height: 100%;
  color: black;
  background-color: #D9D0DE;
}

/* Header content Style */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 24px;
  border-bottom: 1px solid black;
}

.logo{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  line-height: 32px;
}

.navigation{
  display: block;
}

.navigation a{
  decoration: none;
}

/* Main Content Style */
.content{
  width: 80%;
  margin: 0 7.5rem;
}

/* Learn Section Style */

.learn-something{
  display: flex;
  padding: 2rem 0;
  background-color: #BC8DA0;
  border: 1px solid black;
}

.image{
  margin: 2rem 1.5rem;
  width: 60%;
}

.image img{
  height: auto;
  width: 100%;
}

.learn-something .learn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.learn h1{
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 2rem;
}

.learn h2{

}

#start-button{
    background-color: #9A7483;
    border: none;
    border-radius: 0.5rem;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50%;
}

#start-button:hover{
  background-color: #D6EADF;
  border: none;
  border-radius: 0.5rem;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 50%;
}

/* Practicing Section Style */

.banner{
  display: flex;
  padding: 2rem 0;
  border: 1px solid blue;
}

.left{
  display: flex;
  flex-direction: column;
}

.text{
  margin:0 1.5rem;
}

.text h1{
  font-family: helvetica;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.text p{

}
.text span{
font-weight: bold;
}

.banner.right{
  display: flex;
  flex-direction: column;
  width: 40%;
}

.info-container{
  display: flex;
  justify-content: center;
}

.image-container{
  width: 35%;
  margin: 1rem;
}

.image-container{
  overflow: hidden;
}

.info-container .right-text{
  justify-content: center;
  width: 65%;
}

.info-container .right-text{
  display: flex;
  flex-direction: column;
}

/* Start Learning Section Style */

#start-learning{
  background-color: #BC8DA0;
  border: 1px solid green;
}

#start-learning h1{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0;
}

.courses{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 3.5rem 0 3.5rem;
}

.first-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.second-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.course{
  width: 100%;
  margin: 0 1rem 2rem 1rem;
  background-color: #D9D0DE
}

.courses img{
  height: auto;
  width: 100%;
  display: block;
}

.details{
  margin: 1rem 0 1.5rem 1rem;
}

#start-learning h2{
  font-size: 1.25rem;
  font-weight: bold;
}

#start-learning h3{
  font-size: 1rem;
  margin: 0.5rem 0;
}

#start-learning p{
  font-size: 1rem;
}

/* Thesis Section Style */

#thesis{
  display: flex;
  flex-direction: column;
}

#thesis .title{
  text-align: center;
  margin: 2rem 0;
}

h1{
  font-family: helvetica;
  font-size: 2rem;
  font-weight: bold;
}

#thesis .thesis-content{
  display: flex;
  flex-direction: row;
}

#thesis .left{
  display: flex;
  flex-direction: column;
  width 60%;
}

#thesis video{
width: 100%;
}

/* Footer Style */
